[Unit]
Description=Ultramarine Server OOBE
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/ultramarine-server-oobe
ExecStart=/usr/bin/node /usr/share/ultramarine-server-oobe/index.js
Environment=OOBE_STATE_PATH=/var/lib/ultramarine-server-oobe/state.json
Environment=OOBE_LIBTAIDAN=true
Environment=TDNX_PATH=/usr/libexec/ultramarine-server-oobe/tdnx
RuntimeDirectory=ultramarine-server-oobe
RuntimeDirectoryMode=0700
Environment=PORT=6623
Restart=on-failure

[Install]
WantedBy=multi-user.target
