[Unit]
Description=Taidan Initial Setup configuration program
After=livesys.service plymouth-quit-wait.service
After=systemd-vconsole-setup.service
After=systemd-user-sessions.service
# getty-pre.target is a pasive target, we need to request it before we can use it
Wants=getty-pre.target
Wants=dbus.socket systemd-logind.service
After=dbus.socket systemd-logind.service
# prevent getty from running on any consoles before we are done
Before=getty-pre.target
Before=display-manager.service
Conflicts=plymouth-quit-wait.service initial-setup-text.service initial-setup-graphical.service initial-setup.service
ConditionKernelCommandLine=!rd.live.image

[Service]
Type=oneshot
TimeoutSec=0
RemainAfterExit=no
ExecStartPre=-/bin/plymouth quit
ExecStartPre=+sh -c "exec chvt 7"
ExecStart=systemd-inhibit \
 --who="Taidan Initial Setup" \
 --what=handle-lid-switch:sleep:shutdown \
 --why="Taidan Initial Setup is running" \
 --mode=block \
 dbus-run-session kwin_wayland --no-lockscreen 'sh /usr/libexec/start-taidan'
ExecStopPost=+sh -c "exec chvt 1"
StandardOutput=append:/var/log/taidan.stdout.log
StandardError=append:/var/log/taidan.stderr.log
User=taidan
UtmpIdentifier=tty7
UtmpMode=user
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
PAMName=taidan

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
